@font-face {
    font-family: 'Open Sans';
    src: url(../../assets/OpenSans-SemiBold.ttf);
}
.card {
    height: 240px;
    width: 45%;
    box-shadow: 0px 24px 64px 0px #0000000A;
    font-family: 'Open Sans';
    margin: 10px;
    float: left;
        
    .cardLeft{
        background: linear-gradient(135deg, #FF0000 0%, #FED482 100%);
        width: 40%;
        height: 100%;
        float: left;
        border-radius: 16px 0px 0px 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            border-radius: 75px;
            height: 150px;
            width: 150px;
        }
    }
    .cardRight{
        background: white;
        width: 60%;
        height: 100%;
        float: right;
        border-radius: 0px 16px 16px 0px;
        .status{
            color: #999999;
            font-size: 12px;
        }
        .name{
            font-size: 25px;
            font-weight: bold;
            margin: 20px;
        }
        .dataCharacter{
            font-size: 12px;
            div{
                span:last-child {color: gray; font-size: 10px;}
                margin-bottom: 10px;
            }
            
        }
    }
}


